* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

/* Background Animation */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right top, #021f3c, #53b1c4);
    background-size: 200% 200%;
    /*Ensuressmoothanimation*/height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    animation: gradientMove 3s infinite linear;
    -webkit-animation: gradientMove 3s infinite linear;
}
